<navbar></navbar>
<section class="hero has-text-centered">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-2">
                Memorize
            </h1>
        </div>
    </div>
</section>
<div class="divider"></div>
<div class="container" id="memorize-container" style="text-align: center;" ng-show="memorize.isFound">
  <table class="table">
    <tbody>
      <tr>
        <td>Remaining</td>
        <td>{{ memorize.remainCount }}</td>
      </tr>
      <tr>
        <td>Correct</td>
        <td>{{ memorize.correctCards.length }}</td>
      </tr>
      <tr>
        <td>Incorrect</td>
        <td>{{ memorize.incorrectCards.length }}</td>
      </tr>
    </tbody>
  </table>
  <div class="card">
    <div class="card-content flash-card">
      <p class="title is-5">{{ memorize.selectCard.front }}</p>
    </div>
  </div>
  <div class="answer-panel">
    <a ng-click="memorize.correct(memorize.selectCard)" class="btn" style="font-size: 3em;"><i class="fa fa-check-circle"></i></a>
    <a ng-click="memorize.incorrect(memorize.selectCard)" class="btn" style="font-size: 3em;"><i class="fa fa-times-circle"></i></a>
  </div>
</div>
<!-- <flippy
    flip="['custom:FLIP_EVENT_IN']"
    flip-back="['custom:FLIP_EVENT_OUT']"
    duration="800"
    timing-function="ease-in-out">

       <flippy-front>
          <img src="http://placehold.it/300x300&text=Im the front" alt="the front" />
        </flippy-front>

        <flippy-back>
          <img src="http://placehold.it/300x300&text=Aaaaaand the back" alt="the back" />
        </flippy-back>
</flippy>
 -->
