<navbar></navbar>
<div class="container" id="memorize-container" style="text-align: center;">
  <h1 class="title" align="center">Memorize</h1>
  <table class="table">
    <tbody>
      <tr>
        <td>Remaining</td>
        <td>10</td>
      </tr>
      <tr>
        <td>Correct</td>
        <td>7</td>
      </tr>
      <tr>
        <td>Incorrect</td>
        <td>3</td>
      </tr>
    </tbody>
  </table>
  <div class="card">
    <div class="card-content">
      <p class="title is-5">A Word</p>
    </div>
  </div>
  <div class="answer-panel">
    <a class="btn" style="font-size: 3em;" href="#"><i class="fa fa-check-circle"></i></a>
    <a class="btn" style="font-size: 3em;" href="#"><i class="fa fa-times-circle"></i></a>
  </div>
</div>