<navbar></navbar>
<div class="divider"></div>
<div class="container">
    <div class="columns">
        <div class="column is-half is-offset-one-quarter">
            <p class="title">Login</p>
            <form ng-submit="login.login(user)">
                <p class="control has-icon">
                    <input class="input" type="text" placeholder="Username" ng-model="user.username">
                    <i class="fa fa-user-circle"></i>
                </p>
                <p class="control has-icon">
                    <input class="input" type="password" placeholder="Password" ng-model="user.password">
                    <i class="fa fa-lock"></i>
                </p>
                <p class="control">
                    <button class="button is-success" type="submit">Login</button>
                </p>
            </form>
        </div>
    </div>
</div>

