<style>
.card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10em;
}
</style>
<navbar></navbar>
<div class="container" style="text-align: center;">
  <h1 class="title" align="center">Deck Name</h1>
  <div class="columns" style="justify-content: center;">
      <div class="column" style="flex-grow: 0">
          <div class="card">
              <div class="card-content">
                  <p class="title is-5">A Word</p>
              </div>
          </div>
      </div>
      <div class="column" style="flex-grow: 0">
          <div class="card">
              <div class="card-content" style="min-height: 10em;">
                  <p class="title is-5">Definition</p>
              </div>
          </div>
      </div>
  </div>
  <div>
    <a class="btn" style="font-size: 3em;" href="#"><i class="fa fa-plus-circle"></i></a>
  </div>
  <div>
    <a class="button">Finish</a>
  </div>
</div>